<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MadLibs</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <h1>Welcome to MadLibs</h1>
    <p>Would you like to play a game?</p>
    <form class="home" action="/game">
        <label><input type="radio" name="choice" value="yes">Yes<br></label>
        <label><input type="radio" name="choice" value="no">No<br></label>
        <label><input type="submit" value="Let's go!" id="submit"></label>
    </form>
</body>
</html>