<!DOCTYPE html>
<html>
<head>
    <title>{{ username }}'s {{ feelings }} story</title>
    <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
<h1>{{ username }}'s {{ feelings }} story</h1>

<p>Once upon a time, <strong>{{ username }}</strong> was sitting in the Hackbright Lab, working on a Flask app called "<strong>{{ color }} {{ noun }}</strong>."</p>

<p><strong>{{ username }}</strong> looked to the <strong>{{ direction }}</strong>, and saw a very <strong>{{ feelings }} {{ justin }}</strong> plugging away at the keyboard. <strong>{{ username }} {{ verb }}</strong> and fainted into the <strong>{{ adjective }}</strong> arms of <strong>{{ person }}</strong>.

<p>When <strong>{{ username }}</strong> woke up, <strong>{{ person }}</strong> confirmed that it was NOT just a dream, but <strong>{{ justin }}</strong> was nowhere to be seen.</p>

<form action="/game">
<div class="home"><input type="submit" id="submit" value="Play Again"><div class="home">
</form>


</body>
</html>